<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <br>
                <br>
                <h3><a href="/dashboard">&lt;&lt;</a> Change Password</h3>
                <hr>
                <form action="/changePassword" method="post">
                    <div class="red code"><%= (typeof(e) == 'undefined')?"":e %></div>
                    <input type="text" name="uid" id="uid" value="<%= (typeof(uid) != 'undefined')?uid:'' %>" hidden>
                    <input class="form-control" type="email" name="email" id="email" value="<%= email %>" disabled>
                    <br>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password"
                        required>
                    <br>
                    <input class="btn btn-success" type="submit" value="Save">
                </form>
            </div>
        </div>

    </div>

    <%- include('partials/scripts'); -%>
</body>

</html>